body {
    font-family: 'Open Sans Condensed', sans-serif;  
    font-size: 25px;
    line-height: 1.5; 
}


h1 {
    background-color: #556B2F;
    text-align: center;
    padding: 100px 80px;
    color: white;
    font-style: italic;
    font-size: 100px;
}

img{
    border-style: solid;
    border-width: 10px;
    border-color: peachpuff;
    border-radius: 50%;
    max-width: 40%;
    height: auto;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

.great {
    background-color: peachpuff;
    padding: 100px;
}

.start {
    background-image: url(../images/Magicsunset.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 50vh;
    padding: 100px;
    color: black;
}

#aboutus {
   text-align: center; 
   padding: 100px;
}

.button{

    background-color: #556B2F;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 25px;
    color: white;
    padding: 25px;
    border-radius: 40px;
    cursor:pointer
}

.button:visited
{
    background-color: lightpink;
    color: black;
}

.button:hover {
    background-color: peachpuff;
    color: black;
}

footer{
background-color: peachpuff;
padding: 100px;
text-align: center;

}