h1 {
    background-color: #556B2F;
    text-align: center;
    padding: 100px 80px;
    color: white;
    font-style: italic;
    font-size: 100px;
}

img{
    border-style: solid;
    border-width: 10px;
    border-color: peachpuff;
    border-radius: 50%;
    max-width: 40%;
    height: auto;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }


body{
    font-size: 20px;
    font-family: cursive;
}

.great {
    background-color: peachpuff;
    padding-block: 100px;

}

.start {
    background-image: url(../images/Magicsunset.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 50vh;
    padding-block: 100px;
    color: black;
    font-size: 20px;
}

#aboutus {
   text-align: center; 
   padding-block: 100px;
}

.button{

    background-color: #556B2F;
    color: white;
    padding: 15px;
    border-radius: 40px;
    margin: 100px;
}

footer{
background-color: peachpuff;
padding-block: 100px;
text-align: center;

}